# Python / Django
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.env
.venv
env/
venv/
ENV/
db.sqlite3
media/
*.log
.DS_Store

# Node / React
node_modules/
dist/
.cache/
*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
